@charset "utf-8";
/* CSS Document */
html,body{ width:100%; height:100%;}
body{  background:#F8F8F8;padding:0; margin:0; font-size:12px; font-family: Arial,"微软雅黑"; line-height:24px; color:#666; overflow:auto}
ul,ol,li,dl,dd,dt,form,p,h1,h2,h3,h4,h5,h6,h7,input,label{ padding:0; margin:0; font-size:12px;}

.clear{clear:both;height:0px;display:block; overflow:hidden; font-size:0;}
a{ color:#333; text-decoration:none;
	outline:none;                         /*移除超链的虚线框  IE8,FF有用*/
	cursor: pointer;
	font-family: Arial,"微软雅黑",Helvetica,sans-serif;
}
button{
	outline:none;                        /*移除按钮的虚线框  IE8,FF有用*/ 	
}
::-moz-focus-inner{border:none;}/* 让FF下button也生效 */
a:hover { color:#cd4135;text-decoration:underline; font-family: Arial,"微软雅黑",Helvetica,sans-serif;  }
a img{ border:none;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}/* End hide from IE-mac */
*html{  
    background-image:url(about:blank);  
    background-attachment:fixed;  
}  
/*公共部分*/

/*header*/
.header{background:url(images/headerBg.png) repeat-x;height:55px;min-width:860px; width:100%; position:fixed; _position:absolute; top:0;left:0;_bottom:auto; _top:expression(eval(document.documentElement.scrollTop)); z-index:999;}
.main{}

.footer{ background:#2f3034; height:72px; margin-top:10px; text-align:center; color:#818284; font-family:"宋体";}
.footer .linkMenu{ text-align:center; padding:10px 0 5px;}
.footer .linkMenu a{color:#818284; font-family:"宋体";}
/*logo*/
.header .logoContainer{ width: 200px;padding:14px 26px 14px 19px;float:left;}
.header .logoContainer .logoImg,.header .logoContainer .logoLine,.header .logoContainer .logoRecruitment{ float:left;}
.header .logoContainer .logoImg{ background:url(images/logo.png) no-repeat; width:144px; height:27px;}
.header .logoContainer .logoLine{ background:url(images/logoLine.png) no-repeat; width:1px; height:15px; margin:0 10px;margin-top:9px;}
.header .logoContainer .logoRecruitment{ background:url(images/logoRecruitment.png) no-repeat; width:30px; height:15px; font-size:0; margin-top:10px;}
/*nav*/
.header .nav { position: absolute;left: 245px;float:left; }
.header .nav ul { font-size:0px; margin-top:19px; }
.header .nav li { display:inline-block; *display:inline;*zoom:1;margin:0 6px 0 24px; }
.header .nav li a { font-family:"微软雅黑"; font-size:14px; color:#ccc; display:block; padding:0 17px; }
.header .nav li a:hover { text-decoration:none; }
.header .nav li.on a { background:url(../images/navFocusIcon.png) left center no-repeat; color:#ff3c43; font-weight:bold; }
/*user info*/
.header .userInfo{ float:right; padding-top:19px; padding-right:19px;} 
.header .userInfo a{ color:#a9abb2; font-size:12px;display:inline-block; *display:inline; *zoom:1; vertical-align:middle;padding-right:5px;}
.header .userInfo a.userName{ background:url(images/downIcon.png) right center no-repeat; padding-right:10px;}
.header .userInfo .loginInfoLine{background:url(images/logoLine.png) no-repeat; width:1px; height:13px;display:inline-block; *display:inline; *zoom:1;vertical-align:middle; margin:0 10px;}

/*content*/
.content,.pageMain,.pageMain .pageItem,.loadPageCon,.scrollMain{}
.pageMain .pageItem{ position:relative; z-index:0;}
.pageMain{ *position:relative; }

/*article Container*/
.articleContainer { background: url(../images/rbg.png) repeat; border-radius:4px; width:100%; height:220px;  }
.articleContainer .titleHeader { background:url(images/titleHeaderLine.png) 0 bottom repeat-x; height:35px; padding:14px 11px 0; text-align:right; }
.articleContainer .titleHeader .titleLeft { float:left; }
.articleContainer .titleHeader .titleLeft .titleIcon { background:#db4453; display:inline-block; *display:inline;
*zoom:1;
height:19px; width:3px; vertical-align:middle; }
.articleContainer .titleHeader .titleLeft .title { font-size:16px; vertical-align:middle; margin-left:10px;  font-family:"微软雅黑"; font-weight:bold; color:#333 }
.articleContainer .titleHeader a.more { color:#cb4236; font-family:"微软雅黑"; }


/*home content*/
.aboutContent{ padding:68px 15px 13px; width:970px; height:90%; margin:0 auto; }
.aboutContent .leftContent{ float:left; width:610px;}
.aboutContent .rightContent{ overflow:hidden; padding-left:15px;}
/*news*/
.newsMenu{ padding:7px 20px 7px 26px;}
.newsMenu li{ list-style:none; height:26px; padding:1px 0;}
.newsMenu li a{ color:#666;}
.newsMenu li a:hover,.newsMenu li a:hover .newsTitle,.newsMenu li a:hover .newsTime{ color:#cd4135; text-decoration:underline}
.newsMenu li a .newsTitle{ padding-right:10px;width:150px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; display: inline-block;}
.newsMenu li a .newsTime{ float:right;width:150px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

/*article*/
.article{ padding:7px 20px 7px 26px;}
.article p{ text-indent:2em; line-height:22px}

/*info*/
.infoItemsMain{ padding:4px;}
.infoItemsMain .infoLeft{ float:left;}
.infoItemsMain .infoRight{ overflow:hidden;}
.infoItemsMain .infoLeft .infoImgBox{ overflow:hidden; width:157px; height:136px; border:1px solid #d3d8de; border-radius:1px;}
.infoItemsMain .infoRight .infoItemsMenu{ margin-left:38px;}
.infoItemsMain .infoRight .infoItemsMenu li{list-style:inside square; padding-top:9px;}

/*video*/
.videoContainer{margin-bottom:15px;}

/*page*/
.pageTargetGoTop,.pageTarget{ width:58px; height:36px; position:absolute; top:auto; bottom:0; left:50%; margin-left:-29px; cursor:pointer; z-index:9999;}
.pageTargetGoTop{ background:url(../images/pageUp.png) no-repeat;}
.pageTarget{background:url(../images/pageDown.png) no-repeat;}

.pagesToolbar,.pagesToolbar .pagesToolbarBottom,.pagesToolbar .pagesToolbarMiddle{}
.pagesToolbar{ position:fixed; _position:absolute; top:50%;left:auto; right:22px;_bottom:auto; _top:expression(eval(document.documentElement.scrollTop)); z-index:999; width:28px; background:url(../images/page/pageFixedBgTop.png) 0 top no-repeat; padding-top:13px;}
.pagesToolbar .pagesToolbarBottom{background:url(images/pageFixedBgBottom.png) 0 bottom no-repeat; padding-bottom:13px;width:28px;}
.pagesToolbar .pagesToolbarMiddle{background:url(images/pageFixedBgMiddle.png) repeat-y;width:28px;}

.pagesToolbar .pagesToolbarMiddle ul li{ text-align:center; padding:6px 0;}
.pagesToolbar .pagesToolbarMiddle ul li .pageDot{display:inline-block; *display:inline; *zoom:1; width:12px; height:12px; background:url(../images/page/pageDot.png) no-repeat; cursor:pointer;}
.pagesToolbar .pagesToolbarMiddle ul li.on .pageDot{background:url(../images/pageDotHover.png) no-repeat;}

/*share vertical*/
.shareBoxMain{ position:absolute; z-index:9999; bottom:23px; left:auto; right:22px;
position:fixed; _position:absolute; top:auto;left:auto; right:22px;_bottom:23px; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.height)); 
}
.shareBoxMain,.shareBoxMain .boxRight,.shareBoxMain .boxMiddle{ background-image:url(../images/verticalBg.png);display:inline-block; *display:inline; *zoom:1; height:30px;}
.shareBoxMain{ background-repeat:no-repeat; background-position:0 0; padding-left:14px;}
.shareBoxMain .boxRight{background-repeat:no-repeat; background-position:right -60px; padding-right:14px;}
.shareBoxMain .boxMiddle{ background-repeat:repeat-x; background-position:0 -30px;}
.shareBoxMain .boxMiddle label.title{ font-family:"宋体"; font-size:12px; color:#fff; line-height:30px;display:inline-block; *display:inline; *zoom:1;vertical-align:middle;}
.shareBoxMain .boxMiddle a{display:inline-block; *display:inline; *zoom:1; vertical-align:middle; margin:0 13px; width:16px; height:16px; line-height:16px;}
.shareBoxMain .boxMiddle .boxLine{ background:url(../images/boxLine.png) no-repeat;display:inline-block; *display:inline; *zoom:1; vertical-align:middle; width:1px; height:23px;}

/*itemsContent*/
.itemsContent,.pageBg{ width:100%; height:100%;position: absolute;top: 0px;left: 0px;z-index: 10;}
.pageBg { position:absolute; top:0; left:0; z-index:-1; }
.itemsContent .msgBox { position:absolute; top:69px; left:18px; }
.msgBox { cursor:pointer; }
.msgBox, .msgBox .msgBoxRight, .msgBox .msgBoxMiddle { background-image:url(../images/verticalBg.png); display:inline-block; *display:inline;*zoom:1;height:30px; }
.msgBox { background-repeat:no-repeat; background-position:0 0; padding-left:14px; }
.msgBox .msgBoxRight { background-repeat:no-repeat; background-position:right -60px; padding-right:14px; }
.msgBox .msgBoxMiddle { background-repeat:repeat-x; background-position:0 -30px; }
.msgTitle { background:url(../images/volumeIcon.png) left center no-repeat; display:inline-block; *display:inline;*zoom:1;vertical-align:middle; padding-left:28px; height:30px; color:#fff; font-family:"微软雅黑"; font-size:12px; line-height:30px; }
.msgNum { display:inline-block; *display:inline;*zoom:1;vertical-align:middle; position:relative; height:30px; width:2px; }
.msgNum .punctuation { color:#fff; font-family:"微软雅黑"; font-size:12px; display:none; line-height:30px; }
.msgNum .numRedBg { background:url(../images/numRedBg.png) no-repeat; display:inline-block; *display:inline;*zoom:1;width:18px; height:18px; line-height:18px; color:#fff; font-size:12px; font-family:"微软雅黑"; position:absolute; text-align:center; top:-5px; left:0px; }
.msgBox:hover .msgNum .punctuation { display:block; }
.videoContent { text-align:center;position: relative; }
.videoMain { display:inline-block; *display:inline;*zoom:1;width:455px; height:264px; }
.videoContent .videoBtnMain { margin-top:43px; }
.msgList { width:0px; overflow:hidden; height:30px; white-space:nowrap; }
.msgList, .msgList li { display:inline-block; *display:inline;*zoom:1;vertical-align:middle; color:#fff; }
.msgList li { line-height:30px; padding-left:10px; display:none; width:398px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.msgList li.on { display:inline-block; *display:inline;*zoom:1;}
.msgList ul { display:inline-block; *display:inline;*zoom:1;vertical-align:middle; }
.msgList .nextBtn { background:url(../images/msgBtn.png) no-repeat; width:8px; height:7px; display:inline-block; *display:inline;*zoom:1;vertical-align:middle; margin-left:5px; cursor:pointer; }
.itemsContent a{color: #666;}
.itemsContent a:hover {color: #df3426;}

.msgBox .msgBoxMiddle a{color:#f9f9f9;}
.msgBox .msgBoxMiddle a:hover{color:#fff;}

/*join us*/
.joinUsContent { width:1008px;  position:absolute; top:90%; left:50%;  margin-left:-504px; margin-top:-220px; }
.joinUsContent .leftContent{ width:593px; float:left;}
.joinUsContent .rightContent{ overflow:hidden;padding-left: 15px;}
.searchItemCon{ padding:7px 20px 7px 26px;}
.extendCon label.title,.extendCon span.data{display:inline-block; *display:inline; *zoom:1; vertical-align:middle; font-size:14px; color:#333;}
.extendCon label.title{color:#666;}
.extendCon span.data{ margin-left:10px;}
.extendCon .addressDropList{display:inline-block; *display:inline; *zoom:1; vertical-align:middle; margin-left:30px;}
.extendCon .addressDropList .droplistTarget{ font-family:"宋体"; color:#df3426; cursor:pointer;}
.extendCon .addressDropList .droplistTarget,.extendCon .addressDropList .droplistRight,.extendCon .addressDropList .droplistMiddle{display:inline-block; *display:inline; *zoom:1; height:28px;}

.extendCon .addressDropList .droplistTarget{ padding-left:10px;}
.extendCon .addressDropList .droplistRight{ padding-right:10px; }
.extendCon .addressDropList .droplistMiddle{line-height:28px;}
.extendCon .addressDropList.on .droplistTarget{ background:url(../images/targetLeft.png) left 0 no-repeat;}
.extendCon .addressDropList.on .droplistRight{ background:url(../images/targetRight.png) right 0 no-repeat;}
.extendCon .addressDropList.on .droplistMiddle{ background:url(../images/targetMiddle.png) repeat-x;}

.addressDropList{ position:relative;}
.droplistMenuMain{display:inline-block; *display:inline; *zoom:1; position:absolute; left:0; top:28px; display:none;*width:760px;}
.extendCon .addressDropList.on .droplistMenuMain{ display:block;}
.droplistMenuMain .droplistMainTop,.droplistMenuMain .droplistTopRight,.droplistMenuMain .droplistTopMiddle{ height:7px;}
.droplistMenuMain .droplistMainTop{ background:url(../images/topLeft.png) left 0 no-repeat; padding-left:9px;*width:751px;}
.droplistMenuMain .droplistTopRight{ background:url(../images/topRight.png) right 0 no-repeat; padding-right:9px;}
.droplistMenuMain .droplistTopMiddle{ background:#fff;}

.droplistMenuMain .droplistMainBottom,.droplistMenuMain .droplistBottomRight,.droplistMenuMain .droplistBottomMiddle{ height:10px;}
.droplistMenuMain .droplistMainBottom{ background:url(../images/droplist/bottomLeft.png) left 0 no-repeat; padding-left:9px;*width:751px;}
.droplistMenuMain .droplistBottomRight{ background:url(../images/droplist/bottomRight.png) right 0 no-repeat; padding-right:9px;}
.droplistMenuMain .droplistBottomMiddle{ background:url(../images/droplist/bottomMiddle.png) 0 0 repeat-x;}

.droplistMenuMain .droplistMainMiddle,.droplistMenuMain .droplistMainMiddleRight,.droplistMenuMain .droplistMainMiddleBg{display:inline-block; *display:inline; *zoom:1;}
.droplistMenuMain .droplistMainMiddle{ background:url(../images/droplist/middleLeft.png) left 0 repeat-y; padding-left:9px;}
.droplistMenuMain .droplistMainMiddleRight{background:url(../images/droplist/middleRight.png) right 0 repeat-y; padding-right:9px;}
.droplistMenuMain .droplistMainMiddleBg{ background:#fff;}
.dropMenuCon{ padding:10px;}
.droplistMainTitle{ text-align:right;width:720px; padding-bottom:20px;}
.droplistCloseBtn{display:inline-block; *display:inline; *zoom:1; background:url(../images/droplist/closeBtn.png) no-repeat; width:27px; height:27px;}
.droplistMainTitle .title{ float:left; color:#656d78; font-family:"宋体"; font-size:14px; padding-top:10px;}

.menuContent{ background:#f2f3f6; border-top:2px solid #ed5564; padding:8px 14px;}
.menuContent ul li{display:inline-block; *display:inline; *zoom:1; margin:0 15px; cursor:pointer;}
.menuContent ul li .choseBtn,.menuContent ul li .choseBtn .btnRight,.menuContent ul li .choseBtn .btnMiddle{display:inline-block; *display:inline; *zoom:1; height:26px;}
.menuContent ul li .choseBtn{ padding-left:3px;}
.menuContent ul li .choseBtn .btnRight{ padding-right:3px;}
.menuContent ul li .choseBtn .btnMiddle{ line-height:26px; color:#656d78; font-family:"宋体"; padding:0 2px; font-size:14px;}
.menuContent ul li.on .choseBtn,.menuContent ul li.on .choseBtn .btnRight,.menuContent ul li.on .choseBtn .btnMiddle{ background-image:url(../images/button/pinkBtn.png);}
.menuContent ul li.on .choseBtn{ background-repeat:no-repeat; background-position:left 0;}
.menuContent ul li.on .choseBtn .btnRight{ background-repeat:no-repeat; background-position:right -52px;}
.menuContent ul li.on .choseBtn .btnMiddle{ background-repeat:repeat-x; background-position:0 -26px; color:#fff;}
.menuTable { margin-top:10px; margin-bottom:20px;}
.menuTable tr td{ padding:5px 0; font-size:14px;}
.menuTable tr td span{ cursor:pointer; padding:0 7px;display:inline-block; *display:inline; *zoom:1;}
.menuTable tr td.on span{ color:#ed5564; font-weight:bold;padding:0px;}

/*search box*/
.searchCon { padding-right:12px }
.searchInput, .searchInput .searchInputRight, .searchInput .searchInputMiddle { background-image:url(../images/serachBg.png); display:inline-block; *display:inline;
*zoom:1;
height:33px; }
.searchInput { background-repeat:no-repeat; background-position:left 0; padding-left:4px; vertical-align:middle; }
.searchInput .searchInputRight { background-repeat:no-repeat; background-position:right -66px; padding-right:4px; }
.searchInput .searchInputMiddle { background-repeat:repeat-x; background-position:0 -33px; padding:3px 4px; height:27px; }
.searchInput .searchInputMiddle input { height:27px; width:355px; border:none; background:#fff; line-height:27px; }
.searchInput .searchInputMiddle input.emptyText { color:#bbb; }
.searchSubmitBtn, .searchSubmitBtn .submitRight, .searchSubmitBtn .submitMiddle { display:inline-block; *display:inline;
*zoom:1;
height:37px; background-image:url(../images/btnBlue.png); }
.searchSubmitBtn { background-repeat:no-repeat; background-position:left 0; padding-left:8px; vertical-align:middle; margin-left:5px; cursor:pointer}
.searchSubmitBtn .submitRight { background-repeat:no-repeat; background-position:right -74px; padding-right:8px; }
.searchSubmitBtn .submitMiddle { background-repeat:repeat-x; background-position:0 -37px; padding:0 3px; line-height:33px; }
.searchSubmitBtn .submitMiddle img, .searchSubmitBtn .submitMiddle .text { display:inline-block; *display:inline;
*zoom:1;
vertical-align:middle; }
.searchSubmitBtn .submitMiddle img { margin-right:7px; }
.searchSubmitBtn .submitMiddle .text { font-family:"微软雅黑"; color:#fff; font-size:14px; }
/*tag*/
.tagCon dl{ padding-top:8px; overflow:hidden;}
.tagCon dl dt{ float:left;}
.tagCon dl dd{ overflow:hidden; padding-left:10px;}
.tagCon dl dd a{display:inline-block; *display:inline; *zoom:1; margin-right:25px; font-family:"宋体";}
.tagCon dl dd a:hover{font-family:"宋体";}

/**/
.borderBoxCon { border:1px solid #CCC;  padding:1px; margin-bottom:15px; margin:15px 35px }
.choseItem { line-height:24px; padding:3px 10px; border-bottom:1px dotted #d3d8de; }
.choseItem.noborder { border:none; }
.choseItem dt { float:left; font-family:"微软雅黑"; font-size:14px; color:#333; }
.choseItem dt .itemIcon, .choseItem dt .text { display:inline-block; *display:inline;
*zoom:1;
vertical-align:middle; }
.choseItem dt .itemIcon { background-image:url(../images/iconMenu.png); background-repeat:no-repeat; width:23px; height:23px; margin-right:6px; }
.choseItem dt .itemIcon.icon1 { background-position:0 -1px; }
.choseItem dt .itemIcon.icon2 { background-position:0 -50px; }
.choseItem dt .itemIcon.icon3 { background-position:0 -98px; }
.choseItem .choseMenu { overflow:hidden; }
.choseItem .choseMenu span { display:inline-block; *display:inline;
*zoom:1;
margin:0 15px; padding-top:2px; font-family:"微软雅黑"; cursor:pointer; }
.choseItem .choseMenu span:hover{color:#df3426; text-decoration: underline;}
.choseItem .choseMenu span.on { color:#db4453; font-weight:bold; }
.choseItem .choseMenu .choseMoreTarget { float:right; background:url(../images/listMoreBtn.png) no-repeat; width:26px; height:21px; padding-left:20px; line-height:22px; cursor:pointer; color:#cb4236; }
.choseItem .choseMenu .choseMenuMoreCon { overflow:hidden; }
.dataContent .titleHeader { background:url(../images/titleHeaderLine.png) 0 bottom repeat-x; height:35px; padding:14px 11px 0; text-align:right; }
.dataContent .titleHeader .titleLeft { float:left; }
.dataContent .titleHeader .titleLeft .titleIcon { background:#db4453; display:inline-block; *display:inline;
*zoom:1;
height:19px; width:3px; vertical-align:middle; }
.dataContent .titleHeader .titleLeft .title { font-size:16px; color:#333; vertical-align:middle; margin-left:10px; }
/*data Toolbar*/
.dataToolbar{ padding:10px;}
.dataToolbar .toolbarRight{ float:right;}
.textLabel{display:inline-block; *display:inline; *zoom:1; height:26px; line-height:26px; vertical-align:middle; font-family:"宋体"; margin-right:22px;}
.textLabel .num{ color:#cb4236; font-weight:bold; margin:0 5px;}
.pagesCon{display:inline-block; *display:inline; *zoom:1; }

.extendSort .title,.extendSort .sortMenu,.extendSort .sortMenu li{display:inline-block; *display:inline; *zoom:1; vertical-align:middle; color:#656d78;}
.extendSort .title{ margin-right:5px;}
.extendSort .sortMenu li{ padding-right:26px; padding-left:10px; background:url(../images/down.png) 90% center no-repeat; cursor:pointer; border-right:1px solid #d8dce2; line-height:15px;font-family:"宋体";}
.extendSort .sortMenu li.on{ color:#cb4236; background:url(../images/up.png) 90% center no-repeat;}
.extendSort .sortMenu li.noborder{ border:none;}

/*data Table*/
.dataTable{ background:url(../images/tableBgMain.png) 0 top no-repeat; width:975px; margin:0 auto;}
.dataTable table{ border-collapse:collapse;}
.dataTable table tr th{ line-height:31px; color:#fff; text-align:left; padding:0 8px; border-right:1px solid #bc5148; text-align:center;}
.dataTable table tr th.last{ border:none;}
.dataTable table tr td{ border:1px solid #ccd0d9; padding:3px 8px;}
.dataTable table tr.evenBg td{ background:#f6f7fb;}
.dataTable table tr td a,.dataTable table tr td a:hover{font-family:"宋体";}
.dataTable table tr td a.dataLink{display:block; width:398px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/*pages*/
.pagesCon a,.pagesCon a span{display:inline-block; *display:inline; *zoom:1; height:26px; background-image:url(../images/btnBg.png); background-repeat:no-repeat;} 
.pagesCon a{ background-position:right -26px; padding-right:4px; vertical-align:middle; margin:0 1px;}
.pagesCon a span{background-position:left 0px; padding:0 4px 0 8px; line-height:26px;}
.pagesCon a:hover,.pagesCon a:hover span{background-image:url(../images/btnBgHover.png);}
.pagesCon a:hover{ background-position:right -26px;}
.pagesCon a:hover span{background-position:left 0px;}

.pagesCon a.on,.pagesCon a.on span{background-image:url(../images/btnBgActive.png);}
.pagesCon a.on{ background-position:right -26px;}
.pagesCon a.on span{background-position:left 0px; color:#fff;}

.pagesCon a span img{display:inline-block; *display:inline; *zoom:1; margin-top:6px;}
.pagesCon .pagesD,.inputPages{vertical-align:middle;}
.inputPages,.inputPages input{display:inline-block; *display:inline; *zoom:1; height:26px;background-image:url(../images/btnBg.png); background-repeat:no-repeat;}
.inputPages{background-position:right -26px; padding-right:4px;margin:0 1px;}
.inputPages input{background-position:left 0px; padding:0 4px 0 8px; line-height:26px; border:none; width:24px;}

/*question*/
.questionContent{ position:absolute;width:100%; height:100%; z-index:1;}
.questionContent .ball1,.questionContent .ball2,.questionContent .ball3,.questionContent .ball4,.questionContent .ball5,.questionContent .ball6{position:absolute; cursor:pointer}
.questionContent .ball1{ left:20%; top:17%;}
.questionContent .ball2{ left:42%; top:32%;}
.questionContent .ball3{ left:26%; top:60%;}
.questionContent .ball4{ left:50%; top:50%;}
.questionContent .ball5{ left:67%; top:28%;}
.questionContent .ball6{ left:70%; top:65%;}
.ballBg{background:url(../images/ball/ballBG.png) center center no-repeat; width:762px; height:372px; position:absolute; top:50%; left:50%; margin-left:-381px; margin-top:-186px;}

/*introduce Box*/
.introduceBox { position: relative;width: 880px;height: 240px;top: 20%;margin: 0 auto; }
.introduceBox1 { position:absolute; width:880px; left:50%; top:80px; margin-left:-438px; }
.introduceBox2 { position:absolute; width:500px; left:15%; top:30%; }
.boxTop, .boxTop .boxRight, .boxTop .boxMiddle { background-image:url(../images/box/boxTopBg.png); height:12px; }
.boxTop { background-repeat:no-repeat; background-position:left 0; padding-left:12px; }
.boxTop .boxRight { background-repeat:no-repeat; background-position:right -24px; padding-right:12px; }
.boxTop .boxMiddle { background-repeat:repeat-x; background-position:0 -12px; }
.boxMain { background:url(../images/boxMiddleLelf.png) left 0 repeat-y; padding-left:5px; }
.boxMain .boxRight { background:url(../images/boxMiddleRight.png) left 0 repeat-y; padding-right:1px; }
.boxMain .boxMiddle { background:url(../images/boxBg.png) repeat; margin-left:4px; overflow: hidden;}
.boxBottom, .boxBottom .boxRight, .boxBottom .boxMiddle { background-image:url(../images/boxBottomBg.png); height:12px; }
.boxBottom { background-repeat:no-repeat; background-position:left 0; padding-left:12px; }
.boxBottom .boxRight { background-repeat:no-repeat; background-position:right -24px; padding-right:12px; }
.boxBottom .boxMiddle { background-repeat:repeat-x; background-position:0 -12px; }

/*introduce*/
.scrollTarget {width:115px; height:240px; text-align:center; display:inline-block; *display:inline; *zoom:1;}
.scrollTarget a.scrollPrev, .scrollTarget a.scrollNext {display:inline-block; width:46px; height:46px; margin:97px auto;}

.scrollTarget a.scrollPrev { background:url(../images/scrollPrev.png) no-repeat; }
.scrollTarget a.scrollNext { background:url(../images/scrollNext.png) no-repeat; }
.scrollTarget a.scrollPrev.disable, .scrollTarget a.scrollNext.disable { opacity:.4; filter:alpha(opacity=40); }
.scrollList { display:inline-block; *display:inline;*zoom:1;vertical-align:top; overflow:hidden; white-space:nowrap; font-size:0; }
.scrollList, .scrollList li { width:632px; }
.scrollList ul { display:inline-block; *display:inline;*zoom:1;height: 255px;}
.scrollList li { padding:30px 0; display:inline-block; *display:inline;*zoom:1;float: left;}
.userIntroduce { overflow:hidden; color:#333; white-space:normal; }
.userIntroduce dt { float:left; width:234px; }
.userIntroduce dd { overflow:hidden; }
.userIntroduce dd h1 { font-size:20px; font-family:"微软雅黑"; margin-bottom:15px; }
.userIntroduce dd .introduceArt { font-size:14px; font-family:"微软雅黑"; }
.userIntroduce dd .time { margin-top:15px; font-size:12px; font-family:"微软雅黑"; }

/*post*/
.postContent { padding:2px 12px; background:none;}
.postContent .titleHeader { height:35px; padding:0px 11px 0; text-align:right; }
.postContent .titleHeader .titleLeft { float:left; color:#333; font-weight: bold;}
.postContent .titleHeader .titleLeft .titleIcon { background:#db4453; display:inline-block; *display:inline;
*zoom:1;
height:19px; width:3px; vertical-align:middle; }
.postContent .titleHeader .titleLeft .title { font-size:16px; vertical-align:middle; margin-left:10px;  font-family:"微软雅黑"; }
.postTypeCon { margin-top:60px; margin-bottom:20px; background-image: none;}
.postTypeCon .postMenu { white-space:nowrap; font-size:0; width:720px; overflow:hidden; float:left; }
.postTypeCon .postMenu ul { display:inline-block; *display:inline;
*zoom:1;
}

.postMenu a:hover{text-decoration: none;}

.postTypeCon .postMenu li{display:inline-block; *display:inline; *zoom:1; background:url(../images/tab/tabBottomBgSmall.png) center bottom no-repeat; text-align:center; width:110px; cursor:pointer; margin:0 5px; padding-bottom:15px;}
.postTypeCon .postMenu li .postTabBg{ background:url(../images/tab/tabBgSmall.png) no-repeat; width:110px; height:109px;display:inline-block; *display:inline; *zoom:1; text-align:center;}
.postTypeCon .postMenu li .postTabBg .postIcon { width:82px; display:inline-block; *display:inline;*zoom:1;margin-top:20px;  }
.postTypeCon .postMenu li .postTabBg .postIcon.icon1 { width:80px; height:40px; background-image: url(../images/tab/tabICON.png); background-repeat: no-repeat; background-position: 0px 0px; }
.postTypeCon .postMenu li .postTabBg .postIcon.icon2 { width:80px; height:40px; background:url(../images/tab/tabICON.png) no-repeat;background-position: -80px  0px; }
.postTypeCon .postMenu li .postTabBg .postIcon.icon3 { width:80px; height:40px; background:url(../images/tab/tabICON.png) no-repeat ;background-position: -160px  0px; }
.postTypeCon .postMenu li .postTabBg .postIcon.icon4 { width:80px; height:40px; background:url(../images/tab/tabICON.png) no-repeat ;background-position: -240px  0px; }
.postTypeCon .postMenu li .postTabBg .postIcon.icon5 { width:80px; height:40px; background:url(../images/tab/tabICON.png) no-repeat ;background-position: -320px  0px; }
.postTypeCon .postMenu li .postTabBg .postIcon.icon6 { width:80px; height:40px; background:url(../images/tab/tabICON.png) no-repeat ;background-position: -400px  0px; }
.postTypeCon .postMenu li .postTabBg .postIcon.icon7 { width:80px; height:40px; background: url(../images/tab/tabICON.png) no-repeat; background-position: -480px 0px; }
.postTypeCon .postMenu li .postTabBg .postIcon.icon8 { width:80px; height:40px; background:url(../images/tab/tabICON.png) no-repeat;background-position: 0px  -50px; }
.postTypeCon .postMenu li .postTabBg .postIcon.icon9 { width:80px; height:40px; background:url(../images/tab/tabICON.png) no-repeat ;background-position: -80px  -50px; }
.postTypeCon .postMenu li .postTabBg .postIcon.icon10 { width:80px; height:40px; background:url(../images/tab/tabICON.png) no-repeat ;background-position: -160px  -50px; }
.postTypeCon .postMenu li .postTabBg .postIcon.icon11 { width:80px; height:40px; background:url(../images/tab/tabICON.png) no-repeat ;background-position: -240px  -50px; }
.postTypeCon .postMenu li .postTabBg .postIcon.icon12 { width:80px; height:40px; background:url(../images/tab/tabICON.png) no-repeat ;background-position: -320px  -50px; }
.postTypeCon .postMenu li .postTabBg .postIcon.icon13 { width:80px; height:40px; background:url(../images/tab/tabICON.png) no-repeat ;background-position: -400px  -50px; }
.postTypeCon .postMenu li .postTabBg .postIcon.icon14 { width:80px; height:40px; background:url(../images/tab/tabICON.png) no-repeat ;background-position: -480px  -50px; }

.postTypeCon .postMenu li:hover { background:url(../images/tab/tabBottomBgSmallHover.png) center bottom no-repeat; }
.postTypeCon .postMenu li a .postTabBg { color:#e72e35 }
.postTypeCon .postMenu li:hover .postTabBg { background:url(../images/tab/tabBgSmallHover.png) no-repeat; color:#FFF }
.postTypeCon .postMenu li:hover .postTabBg .postIcon.icon1 { width:80px; height:40px; background-image: url(../images/tab/tabICON.png); background-repeat: no-repeat; background-position: 0px -100px; }
.postTypeCon .postMenu li:hover .postTabBg .postIcon.icon2 { width:80px; height:40px; background-image: url(../images/tab/tabICON.png); background-repeat: no-repeat; background-position: -80px -100px; }
.postTypeCon .postMenu li:hover .postTabBg .postIcon.icon3 { width:80px; height:40px; background-image: url(../images/tab/tabICON.png); background-repeat: no-repeat; background-position: -160px -100px; }
.postTypeCon .postMenu li:hover .postTabBg .postIcon.icon4 { width:80px; height:40px; background-image: url(../images/tab/tabICON.png); background-repeat: no-repeat; background-position: -240px -100px; }
.postTypeCon .postMenu li:hover .postTabBg .postIcon.icon5 { width:80px; height:40px; background-image: url(../images/tab/tabICON.png); background-repeat: no-repeat; background-position: -320px -100px; }
.postTypeCon .postMenu li:hover .postTabBg .postIcon.icon6 { width:80px; height:40px; background-image: url(../images/tab/tabICON.png); background-repeat: no-repeat; background-position: -400px -100px; }
.postTypeCon .postMenu li:hover .postTabBg .postIcon.icon7 { width:80px; height:40px; background-image: url(../images/tab/tabICON.png); background-repeat: no-repeat; background-position: -480px -100px; }
.postTypeCon .postMenu li:hover .postTabBg .postIcon.icon8 { width:80px; height:40px; background-image: url(../images/tab/tabICON.png); background-repeat: no-repeat; background-position:  0px -150px; }
.postTypeCon .postMenu li:hover .postTabBg .postIcon.icon9 { width:80px; height:40px; background-image: url(../images/tab/tabICON.png); background-repeat: no-repeat; background-position: -80px -150px; }
.postTypeCon .postMenu li:hover .postTabBg .postIcon.icon10 { width:80px; height:40px; background-image: url(../images/tab/tabICON.png); background-repeat: no-repeat; background-position: -160px -150px; }
.postTypeCon .postMenu li:hover .postTabBg .postIcon.icon11 { width:80px; height:40px; background-image: url(../images/tab/tabICON.png); background-repeat: no-repeat; background-position: -240px -150px; }
.postTypeCon .postMenu li:hover .postTabBg .postIcon.icon12 { width:80px; height:40px; background-image: url(../images/tab/tabICON.png); background-repeat: no-repeat; background-position: -320px -150px; }
.postTypeCon .postMenu li:hover .postTabBg .postIcon.icon13 { width:80px; height:40px; background-image: url(../images/tab/tabICON.png); background-repeat: no-repeat; background-position: -400px -150px; }
.postTypeCon .postMenu li:hover .postTabBg .postIcon.icon14 { width:80px; height:40px; background-image: url(../images/tab/tabICON.png); background-repeat: no-repeat; background-position: -480px -150px;  }
.postTabBg div{width:60px; height:24px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden; margin:0 auto;}

.postTypeCon .postTypeTaget{ float:left; width:60px; height:125px; text-align:center; line-height:148px;}
.postTypeCon .postTypeTaget a.postPrev,.postTypeCon .postTypeTaget a.postNext{display:inline-block; *display:inline; width:46px; height:46px; float:left; margin:30px 0 0 8px;}
.postTypeCon .postTypeTaget a.postPrev{ background:url(../images/box/scrollPrev.png) no-repeat;}
.postTypeCon .postTypeTaget a.postNext{ background:url(../images/box/scrollNext.png) no-repeat;}
.postTypeCon .postTypeTaget a.postPrev.disable,.postTypeCon .postTypeTaget a.postNext.disable{}

.postToolbar{ padding:0 20px;}
.postSearch{ float:right;}
.postSearch .searchM{ background:url(../images/search/searchM.png) no-repeat; width:430px; height:38px; padding-left:20px;}
.postSearch .searchM input[type=text]{ height:36px; line-height:36px; width:389px;display:inline-block; *display:inline; border:none; background:none; float:left;}
.postSearch .searchM .searchSubmit{display:inline-block; *display:inline; *zoom:1; vertical-align:middle; width:38px; height:38px; background:url(../images/search/searchBtn.png) no-repeat; cursor:pointer;}
.postAddress { float:left; }
.postAddress .title { font-size:14px; margin-right:5px; display:inline-block; *display:inline;
*zoom:1;
vertical-align:middle; }
.selectBox { display:inline-block; *display:inline;
*zoom:1;
vertical-align:middle; height:23px; border-bottom:1px solid #666; background:url(../images/selectBtn.png) 95% center no-repeat; cursor:pointer; margin-right:15px; }
.selectBox .selectedName { font-size:12px; color:#333; }
.goTopIcon { width:30px; height:24px; background:url(../images/gotopIcon.png) center center no-repeat; }
.shareList { padding:0 4px; }
.shareList li { height:30px; width:22px; text-align:center; border-bottom:1px dotted #bbc1ca; }
.shareList li a { display:inline-block; *display:inline;
*zoom:1;
height:30px; width:22px; }
.shareList li a img { margin-top:8px; }
.blackBgBox.goTopTarget { margin-top:10px; cursor:pointer; }
.fixedToolbar { position:fixed; top:auto; bottom:82px; left:auto; right:22px; z-index:999; }

/*btn73*/
.redBtn,.redBtn .btnRight,.redBtn .btnMiddle{ background-image:url(../images/button/btn73.png);display:inline-block; *display:inline; *zoom:1; height:73px;}
.redBtn{ background-repeat:no-repeat; background-position:left 0; padding-left:9px;}
.redBtn .btnRight{background-repeat:no-repeat; background-position:right -146px; padding-right:9px;}
.redBtn .btnMiddle{ background-repeat:repeat-x; background-position:0 -73px; padding:0 48px; line-height:87px;}

/*black box*/
.blackBgBox{ background:url(../images/box/fixedBoxTop.png) 0 top no-repeat; width:30px; padding-top:3px;}
.blackBgBox .blackBgBoxBottom{background:url(../images/box/fixedBoxBottom.png) 0 bottom no-repeat; width:30px; padding-bottom:3px;}
.blackBgBox .blackBgBoxMiddle{background:url(../images/box/fixedBoxMiddle.png) repeat-y;width:30px;}.itemsContent .introduceBox .boxMain .boxRight .boxMiddle .ListContent { height: 400px; width: 100%; }

.itemsContent .introduceBox .boxMain .boxRight .boxMiddle .ListContent { height: 400px; width: 100%; }
.itemsContent .introduceBox1 .boxMain .boxRight .boxMiddle .ListContent .List { line-height: 40px; color: #000; height: 40px; width: 799px; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: #BBB; margin-right: auto; margin-left: auto; font-size:14px; }
.itemsContent .introduceBox1 .boxMain .boxRight .boxMiddle .ListContent .List a { color:#666 ;font-family:"微软雅黑";}
.itemsContent .introduceBox1 .boxMain .boxRight .boxMiddle .ListContent .List a:hover { color:#FC3227; font-family:"微软雅黑"; }
/*campus Question*/
.campusQuestionDiv { height: 580px; position:relative; width: 100%; padding-top: 30px; background-image: url(../images/campus_faq_bg.png); background-repeat: no-repeat; background-position:center; position: relative; margin-right: auto; margin-left: auto; color: #FFF; }
.campusQuestionDiv div a{float: left; position: absolute; background-image: url(../images/campus_faq.png);  color: #FFF; font-size: 16px; font-weight: bold; text-align: center; }
.campusQuestionDiv .faq1 a { height: 115px; width: 200px; left: 17%; top: 23%; background-position: 4px -40px; padding-top:55px }
.campusQuestionDiv .faq2 a { height: 115px; width: 200px; left: 23%; top: 70%; background-position: -2px -430px; padding-top: 85px;}
.campusQuestionDiv .faq3 a { height: 130px; width: 220px; left: 40%; top: 37%; background-position: 14px -670px; padding-top: 90px; }
.campusQuestionDiv .faq4 a { height: 120px; width: 200px; left: 64%; top: 28%; background-position: 6px -920px; padding-top: 100px;}
.campusQuestionDiv .faq5 a { height: 130px; width: 200px; left: 57%; top: 65%; background-position: 0px -220px; padding-top: 70px;}
.campusQuestionDiv .faq1 a:hover {background-position: -180px -40px; text-decoration:none}
.campusQuestionDiv .faq2 a:hover {background-position: -222px -440px;text-decoration:none}
.campusQuestionDiv .faq3 a:hover {background-position: -215px -670px;text-decoration:none}
.campusQuestionDiv .faq4 a:hover {background-position: -246px -940px; text-decoration:none}
.campusQuestionDiv .faq5 a:hover {background-position: -179px -220px; text-decoration:none}


.langueTarget{display:inline-block; *display:inline; *zoom:1; overflow:hidden; vertical-align:top;  width:65px; padding-top:1px;}
.langueTarget .languageShow span,.langueTarget .languageHide span{display:inline-block; *display:inline; *zoom:1; padding-right:2px; height:20px;}
.langueTarget .languageShow,.langueTarget .languageHide{ padding-left:8px; width:40px; color:#A9ABB2; font-family:Arial,"微软雅黑"; cursor:pointer;}
.langueTarget .languageShow{background: url("../images/downIcon.png") no-repeat right center ; padding-right: 10px; text-align:right;}
.langueTarget .languageHide{ display:none;}
.langueTarget.on{background:url(../images/droplist/selectBg.png) no-repeat;height:52px;}
.langueTarget.on .languageShow{background: none;}
.langueTarget.on .languageShow span{color:#e72e35; border-bottom:1px solid #e72e35;}
.langueTarget .languageHide:hover span{color:#e72e35;}
.langueTarget.on .languageHide{ color:#777; display:block;}

.bgZone {position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;z-index: -999;display: none;}

#player{margin-right: auto;margin-left: auto;background-color: #222;border: 5px solid #DDD;/*border-radius: 25px;-moz-border-radius: 25px;*/}

/*  列表页面begin  */
.List1 { color: #000; height:90px; width: 799px; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: #BBB; margin-right: auto; margin-left: auto; margin-top:10px }
.List1 a { color: #000; }
.List1 a:hover { color:#FC3227; font-family:"微软雅黑"; }
.itemsContent .introduceBox1 .boxMain .boxRight .boxMiddle .ListContent .List1 .List1_text { float: right; width: 670px; height: auto; }
.List1_img { float:left; width:100px; height:70px;}
.list_content { width:780px; margin:auto; color:#000; font-size:14px; padding-bottom:50px ; font-family:"微软雅黑"; }
.list_content p { font-size:14px; margin-bottom:10px }
.return a { color:#000; font-family:"微软雅黑"; }
.list3Table { width:800px; margin:0 auto; margin-top:20px }
.list3Table table { border-collapse:collapse; }
.list3Table table tr th { line-height:31px;  text-align:left; padding:0 8px; text-align:center; background:#e94545; color:#FFF }
.list3Table table tr th.last { border:none; }
.list3Table table tr td { border:1px solid #c4c4c4; padding:3px 8px; color:#333 }
.list3Table table tr.evenBg td { background:#f6f7fb; }
.list3Table table a, .list3Table table a:hover {  font-family:"微软雅黑"; }

.list3Table table th.nameth { width:40%; text-align:left; padding-left:8px; border-right:1px solid #e0e0e0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
.list3Table table th.classth { width:14%; border-right:1px solid #e0e0e0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
.list3Table table th.numbth { width:10%; border-right:1px solid #e0e0e0; }
.list3Table table th.locth { width:22%; text-align:left; padding-left:8px; border-right:1px solid #e0e0e0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
.list3Table table th.timeth { width:14%; text-align:left; padding-left:8px; }


/*弹出*/
.bgcolor { position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: #000; z-index: 5; filter: alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; z-index:1001; }
.none { display:none; }
.seT_lay { width: 880px; height: 520px; background: #efefef; position: absolute; top: 180px; z-index: 1002; padding: 10px; }
a.closebtn { width:23px; height:23px; float:right; text-indent:-999em; background:url(../images/ICON.png) no-repeat -296px 0; }
a:hover.closebtn { width:23px; height:23px; float:right; text-indent:-999em; background:url(../images/ICON.png) no-repeat -319px 0; }
.alaytitled { width:120px; height:45px; margin:0 auto; line-height:45px; font-weight:800; color:#5e5e5e; font-size:18px; line-height:45px; }
.alaytitle { width:776px; height:50px; margin:0 auto; background:url(../images/arrow_up_w1.png) no-repeat bottom; }
.zwmainbg { width:730px; margin:auto; margin-top:20px; }
.zwtitle { color:#cf3929; font-size:16px; font-weight:bold; padding-right:10px; }
.zwtip { width:730px; height:35px; padding-top:15px; background:url(../images/arrow_up_w3.png) no-repeat bottom; font-size:14px; }
.zwtip strong { padding-right:30px; color:#cf3929; }
.zwtip span { font-size:12px; }
.zwtip strong.date { font-family:Georgia; color:#333!important; padding:0; }
.zwmain { width:724px; margin:0 auto; }
.zwmain h2 { font-size:14px; font-weight:bold; color:#cf3929; padding-top:10px; }
.zwbtn { width:350px; margin:0 auto; height:auto; overflow:hidden; margin-top:10px }
.zwbtn a { width:130px; height:41px; float:left; background:url(../images/btn.png) no-repeat; text-indent:30px; color:#fff; line-height:40px; font-size:14px; font-weight:bold }
.zwbtn a.sqzwbtn { background-position:0 0; }
.zwbtn a.sqzwbtn:hover { background-position:0 -41px; text-decoration:none }
.zwbtn a.sczwbtn { background-position:-130px 0; margin-left:50PX }
.zwbtn a.sczwbtn:hover { background-position:-130px -41px; text-decoration:none }
h3 { font-size: 14px; font-family: "微软雅黑"; color: #444; }
.CtnHig { overflow:hidden; overflow-y:auto; height:350px; width:780px; min-height:300px; line-height: 22px; scrollbar-face-color:#666; scrollbar-highlight-color: #666; scrollbar-shadow-color: #666; scrollbar-3dlight-color: #666; scrollbar-darkshadow-color: #666; scrollbar-track-color: #4a4a50; scrollbar-track-color:#4a4a50; }
.CtnHig span,.CtnHig p{white-space: normal!important; word-break: break-all; }
/*  列表页面end  */

.homeMain { height: 200px; width: 860px; padding-top: 30%; margin-right: auto; margin-left: auto; }
.homeMain .campus a,.homeMain .community a,.homeMain .usercenter a{ font-size: 16px;font-family: "微软雅黑",Arial,Helvetica,sans-serif;  color: #E72E35; padding-top: 80px; padding-left: 54px;}

.homeMain .campus { height: 180px; width: 165px; }
.homeMain .community { height: 180px; width: 165px; margin-left: 180px; }
.homeMain .usercenter { height:180px; width: 165px; margin-left: 180px; }

.homeMain .campus a { height: 85px; width: 108px; float:left; background-image: url(../images/home_icon.png); background-position: -3px 168px; }
.homeMain .community a { height: 85px; width: 106px; float:left;  background-image: url(../images/home_icon.png); background-position: -190px 168px; }
.homeMain .usercenter a { height: 85px; width: 106px;  float:left; background-image: url(../images/home_icon.png); background-position: -376px 170px; }

.homeMain .campus a.on,.homeMain .campus a:hover { height: 85px; width: 108px; color:#fff; text-decoration:none; background-image: url(../images/home_icon.png); background-position: -3px -3px;float:left;   }
.homeMain .community a.on ,.homeMain .community a:hover{  height: 85px; width: 106px; float:left;  background-image: url(../images/home_icon.png); background-position: -190px -4px; color:#fff; text-decoration:none; }
.homeMain .usercenter a.on , .homeMain .usercenter  a:hover {  height: 85px; width: 106px;  float:left;   background-image: url(../images/home_icon.png); background-position: -376px -3px; color:#fff; text-decoration:none; }
.left {float: left;}


.bannerMenu li .campusIcon {	position: relative;	background-image: url("../images/tabImg1.png");	background-repeat: no-repeat;	float: left;	z-index: 1;	top: 32px;	left: 35px;	height: 35px;	width: 74px;}
.bannerMenu li:hover .campusIcon{	background-image: url("../images/tab/tabImg1Hover.png");}

.bannerMenu li .socialIcon {	position: relative;	background-image: url("../images/tabImg2.png");	background-repeat: no-repeat;	float: left;	z-index: 1;	top: 32px;	left: 35px;	height: 35px;	width: 74px;}
.bannerMenu li:hover .socialIcon{	background-image: url("../images/tab/tabImg2Hover.png");}

.bannerMenu li .resumeIcon {	position: relative;	background-image: url("../images/tabImg3.png");	background-repeat: no-repeat;	float: left;	z-index: 1;	top: 32px;	left: 35px;	height: 35px;	width: 74px;}
.bannerMenu li:hover .resumeIcon{	background-image: url("../images/tabImg3Hover.png");}

.bannerMenu li:hover .tabItems span{
	position: relative;color:#fff;font-family:"微软雅黑";font-size: 16px;font-weight:bold;
}
.bannerMenu li .tabItems span{
	position: relative;top: 72px;left: -35px;color:#e72e35;font-family:"微软雅黑";font-size: 16px;font-weight:bold;
}
.bannerMenu li a:HOVER{
	text-decoration: none;
}


.postBtn { height: 66px; width: 206px; margin-top: 40px; margin-right: auto; margin-left: auto; line-height: 66px; color: #FFF; text-align: center; font-size: 18px; }
.postBtn a { font-size: 24px;font-family: "微软雅黑",Arial,Helvetica,sans-serif;height: 66px; width: 206px; float:left; background-image: url(../images/campus_btn.png); background-position: -27px -36px;  color: #FFF;}
.postBtn a:hover { font-size: 24px;font-family: "微软雅黑",Arial,Helvetica,sans-serif;height: 66px; width: 206px; float:left; background-image: url(../images/campus_btn.png); background-position: -27px -102px; color: #FFF; text-decoration:none }


.infoBox{position: fixed;width: 880px;height: 600px;z-index:999;top: 18%;left: 20%;}

/** topBanner **/
.topBanner {
	height: 206px;
}
.bannerImg {
	position: absolute;
	display: none;
	height: 206px
}
.topBannerButton {
	position: relative;
	top: -25px;
	right: 30px;
	z-index: 1;
	float: right;
}
.topBannerButton li {
	list-style-type: none;
	/*border: 1px solid #000;*/
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	z-index: 1;
	float: left;
	margin-left: 10px;
	cursor: pointer;
	width: 12px;
	height: 12px;
	background-color: rgb(220, 220, 219);
}
.topBannerButton .on {
	background-color: red;
}

.moveZone{
	position: absolute;
	top: 3px;
	left: 3px;
	width: 788px;
	height: 40px;
	z-index: 999;
	cursor: move;
}
/*portaldialogcss*/
.dialog {
width: 750px;
height: 500px;
z-index: 1000;
position: absolute;
top: 150px;
border: 2px solid #919191;
background-color: #f8f8f8;
cursor: default;


}
.dcontent
{
	margin-top:0!important;
	overflow:hidden;
	overflow-y: auto;
	height: 450px;
	padding: 0 10px;
}


.overbody
{
	filter:alpha(opacity=25); BACKGROUND-COLOR: #000;
	z-index: 50;
	position:absolute;
	height: 100%;
	width:100%;
	top:0px;
	left:0px;
	opacity: .25;
	
}
.titlevoer
{
	top:-1px;
	left:-1px;
	opacity: 0;
	filter:alpha(opacity=0); BACKGROUND-COLOR: #000;
	height:30px;
	z-index: 200;
	position:absolute;
	width:100%;
	cursor: move;
	border: 1px solid blue;
	
}
.diagclosediv
{
	float: right;
	position:relative;
	height: 20px;
	width:20px;
	top:-20px;
	z-index: 250;
	background: url("../images/jaloricons.png") no-repeat -80px -100px;
	cursor: pointer;
}
.dialogheader
{
	border-bottom:2px solid #cf3929;
	background-color:#eeeeee;
	height:25px;
	padding: 5px;
	padding-left:10px;
	font-size:14px;
	overflow:hidden;
	
	
}
.innerdialog
{
	width: 100%;
	height:100%;
	z-index: 100;
	position:absolute;
	top:0px;
	left:0px;
	
	background-color: white;
	cursor: default;
	
}

#portalloading {
	display: table-cell;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0 auto;
	text-align: center;
	vertical-align: bottom;
	z-index: 1000;
	display: none;
}